@use "../custom" as *;

.intro-section {
  background-image: url(/images/mobile-hero.jpg);
  height: 700px;
  background-size: cover;
  background-position: center;

  @include media-breakpoint-up(md) {
    background-image: url(/images/banner.png);
    max-width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.img-overlay {
  position: relative;

  @include media-breakpoint-up(md) {
  }
}
