@use "../custom" as *;

.img-modal {
  background-image: url("/images/zlol4.png");
  background-repeat: no-repeat;
  background-color: #e0e1e5;
  background-size: contain;
  height: 100%;

  @include media-breakpoint-up(sm) {
    background-size: cover;
    background-position: top;
    // background-size: 100% 100%;
  }
  @include media-breakpoint-up(md) {
    background-size: cover;
  }
  @include media-breakpoint-up(lg) {
    background-position: top;
    background-size: 100% 100%;
  }
}

// background for the second modal
.img-modal2 {
  background-image: url("/images/modal2.jpg");

  background-repeat: no-repeat;
  background-color: #e0e1e5;
  background-size: contain;
  height: 100%;

  @include media-breakpoint-up(sm) {
    background-size: cover;
    // background-size: 100% 100%;
  }
  @include media-breakpoint-up(md) {
    background-position: top;
    background-size: 100% 100%;
  }
}

// new code
.three_feilds {
  height: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
  opacity: 0;
  &.show {
    opacity: 1;
    transition: all 300ms ease;
    height: auto;
    max-height: 100%;
  }
}

#orderModal {
  background: rgba(2, 33, 8, 0.5);
}

.modal-dialog {
  max-width: 1100px;
}
.modal-body {
  padding: 0;
  .btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 99;
  }
  // .btn.btn-rounded {
  //   background: repeating-linear-gradient(
  //     130deg,
  //     #eb8a00,
  //     #eb8a00 1px,
  //     #e77d00 3px,
  //     #eb8a00 4px
  //   );
  //   border: 1px solid white;
  // }
}

.modal-content {
  border: none;
  position: relative;
  padding: 0 !important;
  font-size: 14px;
  border-radius: 0;
  //-webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}
.modal-content .modal-header {
  padding: 0;
  border: none;
}
.modal-content button.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
  text-shadow: none;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
}
.modal-content .modal-body {
  border: none;
  position: relative;
  z-index: 0;
  color: $primary;
}
.modal-content .modal-body.color-1 {
  background: #5eb7b7;
}
// .modal-content .modal-body.color-2 {
//   //background: #1b2a49;
// }
.modal-content .modal-body .icon span {
  font-size: 10vw;
  line-height: 1;
}
@media (max-width: 767.98px) {
  .modal-dialog {
    margin: 25px;
  }
  .modal-content .modal-body .icon span {
    font-size: 100px;
  }
  .modal-body {
    min-height: 400px;
  }
}
.modal-content .modal-body .icon-2 {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 30px;
}
.modal-content .modal-body a:hover {
  color: #5eb7b7;
}
.modal-content .label {
  // text-transform: capitalize;
  font-size: 11px;
  font-weight: 450;
  letter-spacing: 1px;
}
.modal-content .form-control {
  background: transparent;
  border: none;
  border-radius: 0;
  color: $primary !important;
  padding: 0;
  height: 30px;
  border-bottom: 1px solid $primary;
  transition: all 000ms ease;

  &:focus {
    border-bottom: 1px solid $secondary;
    outline-width: 0;
  }
}
.form-control:focus {
  box-shadow: none;
}
.modal-content .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.2) !important;
}
.modal-content .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.2) !important;
}
.modal-content .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.2) !important;
}
.modal-content .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.2) !important;
}
.modal-content .btn-primary {
  background: #5eb7b7 !important;
  height: 52px;
}

.modal-body .border-5 {
  margin: 10px 0 10px 0;
  max-width: 60px;
}

//button
.modal .btn-rounded {
  background: repeating-linear-gradient(
    130deg,
    #ffac36,
    #ffbc5d 1px,
    #ffa841 3px,
    #ffb348 4px
  );

  width: 100%;
  justify-content: center;
  color: $primary;
  position: relative;
  text-transform: uppercase;
  padding: 0.9375rem 1.2rem;
  font-weight: 700;
  border: 1px solid #ffb348;
  z-index: 1;
  // &:hover {
  //   background: repeating-linear-gradient(
  //     130deg,
  //     #ffac36,
  //     #e29529 1px,
  //     #ffa841 3px,
  //     #ffb348 4px
  //   );
  // }
  // &::before {

  //   pos
  // }

  @media (max-width: 576px) {
    @include font-size(0.9rem);
    margin-top: 20px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px !important;
  }
}

.modal .btn-rounded::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: repeating-linear-gradient(
    130deg,
    #ff9e17,
    #ffa82e 1px,
    #ff9a1f 3px,
    #ffa424 4px
  );
  z-index: -1;
  transition: opacity 0.5s ease;
  opacity: 0;
  border-radius: 5px;

  // @media (max-width: 576px) {
  //   @include font-size(0.9rem);
  //   margin-top: 20px;

  //   margin: 0 auto;
  //   margin-top: 20px !important;
  // }
}
.modal .btn-rounded:hover::before {
  opacity: 1;
}

.modal-right-content {
  margin-top: 250px;
  @include media-breakpoint-up(sm) {
    margin-top: 500px;
  }
  @include media-breakpoint-up(md) {
    margin-top: 400px;
  }
  @include media-breakpoint-up(lg) {
    margin-top: 500px;
  }
}

.modal .display-2--title {
  text-transform: none;
}

br {
  @media (max-width: px) {
  }
}
