@use "../custom" as *;

.menu {
  background: transparent;
  margin-bottom: 60px;
  li {
    padding: 0 0.7rem;

    a {
      color: $primary !important;
      font-weight: 600 !important;
    }
  }
}

.nav-custom {
  text-align: right;
  line-height: 0.5;
}

.navbar-brand {
  @media screen and (max-width: 576px) {
    margin-bottom: 20px;
  }
}

.juscenter {
  @media screen and (max-width: 576px) {
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    justify-content: center !important;
    text-align: center;
    line-height: 0px;
  }
}
