@use '../custom' as *;

.menu{
    background:transparent;
    margin-bottom: 60px;
    li{
        padding: 0 0.7rem ;

        a{
            color: $primary !important;
            font-weight: 600 !important;
        }
    }
}