@use "../custom" as *;

.postaw.bg-image {
  padding: 100px 0 100px 0;
  background-image: url("/images/postaw.jpg");
  //height: 800px;
  background-repeat: no-repeat;
  background-position: bottom;
  @media (max-width: 576px) {
    background-repeat: no-repeat;

    height: auto;
    padding: 0;
  }
}

.postaw2.bg-image2 {
  background-image: url("/images/2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;

  @include media-breakpoint-up(sm) {
    padding: 100px 0px 100px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
  }

  @include media-breakpoint-up(md) {
    padding: 100px 0px 100px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
  }
  @include media-breakpoint-up(lg) {
    background-image: url("/images/2.png") !important;
    padding: 100px 0px 100px 0px;
    height: 60vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.custom-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

// .postaw.bg-image {
//     background-image: url("/images/postaw.jpg");
//     background-position: bottom !important;
//     height: 800px;
//    }

//   .half-section {
//     background-image: url("/images/2.png");
//     background-size: 50%;
//     background-position:center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     min-height: 50vh;

//   }
