@use "../custom" as *;
.placeorder {
  color: #fff !important;
}

.placeorder .border5 .border-top {
  border-top-color: #354031;
}

.placeorder .img-bg {
  background-image: url("/images/zlol2.png");
  background-size: cover;
  background-repeat: no-repeat;
  //height: 90vh;

  @media (max-width: 767px) {
    background-image: url("/images/zlol2.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    padding: 0;
  }
}

.carousel-indicators [data-bs-target] {
  margin-bottom: 3rem;
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 14px; /* change width */
  height: 14px; /* change height */
  padding: 3px;
  margin-right: 5px;
  margin-left: 5px;
  //text-indent: -999px;
  cursor: pointer;
  background-color: $primary;
  background-clip: content-box;
  border: 4px solid #738980;
  border-spacing: 0.5px;
  transition: opacity 0.6s ease;
  border-radius: 150%;
  border-spacing: 20px; // /* add border-radius */
}

.paddingimgtop {
  @include media-breakpoint-up(sm) {
    padding-left: 0;
  }
}

.paddingimg {
  @include media-breakpoint-up(sm) {
    padding-right: 0;
  }
}

.img-bgf {
  background-image: url("/images/zlol2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.details-wrap {
  @include media-breakpoint-up(sm) {
    padding-left: 15px;
  }
}
