.postaw.bg-image{
    background-image: url('/images/postaw.jpg');
    
}

.postaw2.bg-image{
    background-image: url('/images/22.png');
    background-size: 300px;
    width: 600px;
    height: 600px;
   
    
    
    
   
}